job "{{ job['name'] }}" {
  datacenters = ["{{ job['datacenter'] }}"]
  type        = "service"
  namespace   = "default"

  group "{{ job['name'] }}" {
    count = 1

    network {
      port "http" {
        to = {{ job['port'] }}
      }
    }

    service {
      name     = "{{ job['name'] }}"
      provider = "nomad"
      port     = "http"
      tags = [
        "traefik.enable=true",
        "traefik.http.routers.{{ job['name'] }}.rule=Host(`{{ job['name'] }}.christopherbaklid.com`)",
        "traefik.http.routers.{{ job['name'] }}.entrypoints=websecure",
        "traefik.http.routers.{{ job['name'] }}.tls.certresolver=myresolver",
        "traefik.http.routers.{{ job['name'] }}.tls=true",
      ]
    }

    task "server" {
      driver = "docker"

      config {
        image = "{{ job['image'] }}"
        ports = ["http"]
      }
      resources {
        cpu    = 100
        memory = 50
      }
    }
  }
}
